.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand My Portfolio
      %ul.nav.pull-right
        %li
          %a{:href => static_index_path} Portfolio
        %li
          %a{:href => static_contact_path} Contact