.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => '/'} About Me
      %ul.nav.pull-right
        %li{:class => controller.action_name == 'index' ? 'active' : ''}
          %a{:href => '/'} Work
        %li{:class => controller.action_name == 'about' ? 'active' : ''}
          %a{:href => '/about'} About
        %li{:class => controller.action_name == 'contact' ? 'active' : ''}
          %a{:href => '/contact'} Contact
