.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand.hover-glow{:href => '/', :class => controller.action_name == 'index' ? 'active' : '' }
        Eric Tuchscherer
        %small { tu · cher · er }
      %ul.nav.pull-right
        %li{:class => controller.action_name == 'work' ? 'active' : ''}
          %a.hover-glow{:href => '/work'} Work
        %li{:class => controller.action_name == 'about' ? 'active' : ''}
          %a.hover-glow{:href => '/about'} About
        %li{:class => controller.action_name == 'contact' ? 'active' : ''}
          %a.hover-glow{:href => '/contact'} Contact
