.hero-unit.embossed
  %h1
    %small find out more
    About me

.row
  .span6.well
    %h4 A little about me…
    %p
      %a{:class => 'btn btn-primary start-slideshow', :onclick => "$('.carousel').carousel('next').carousel()"} Click to Play

  .span4.well
    #originCarousel.carousel.slide
      .carousel-inner{:style => 'overflow:hidden;display:block;position:relative;width:100%'}
        .active.item
          %img{:src => '/assets/carousel/kentucky.jpg'}
          .carousel-caption
            %p I was born in Louisville, Ky…
        .item
          %img{:src => '/assets/carousel/grandparents.jpg'}
          .carousel-caption
            %p and raised by my grandparents in New Jersey.
        .item
          %img{:src => '/assets/carousel/newyork.jpg'}
          .carousel-caption
            %p Looking south from the Empire State Building.
        .item
          %img{:src => '/assets/carousel/qatar.jpg'}
          .carousel-caption
            %p I joined the navy when I was 20…
        .item
          %img{:src => '/assets/carousel/songbukdong.jpg'}
          .carousel-caption
            %p It gave me the opportunity to travel the world at a young age.
        .item
          %img{:src => '/assets/carousel/ranier.jpg'}
          .carousel-caption
            %p I fell in love with Washington, and decided to settle here.
        .item
          %img{:src => '/assets/carousel/oregon.jpg'}
          .carousel-caption
            %p My family likes it here also.
        .item
          %img{:src => '/assets/carousel/building.jpg'}
          .carousel-caption
            %p I like building things,
        .item
          %img{:src => '/assets/carousel/hiking.jpg'}
          .carousel-caption
            %p and hiking in the summertime.
        .item
          %img{:src => '/assets/carousel/winter.jpg'}
          .carousel-caption
            %p In the winter, you'll catch me snowboarding at every opportunity.
        .item
          %img{:src => '/assets/carousel/feralmotion.jpg'}
          .carousel-caption
            %p I helped found Feral Motion.
        .item
          %img{:src => '/assets/carousel/working.jpg'}
          .carousel-caption
            %p And was employee #1 at Salad Labs.
        .item
          %img{:src => '/assets/carousel/more.png'}
          .carousel-caption
            %h4
              =link_to 'click here', 'contact'
      .carousel-control.left{:href => '#originCarousel', :'data-slide' => 'prev'} &lsaquo;
      .carousel-control.right{:href => '#originCarousel', :'data-slide' => 'next'} &rsaquo;