.row.hero-unit
  %h1 Want to contact me?
  %h4.indented It's easy… and I'm friendly :)
  .subheader.pull-right
    %a{:href => 'http://www.linkedin.com/in/tuchscherer'}
      %i.linkedin-square.social-icon
    %a{:href => 'http://www.facebook.com/eric.tuchscherer'}
      %i.social-icon.facebook-square
    %a{:href => 'https://twitter.com/e_tuchscherer'}
      %i.social-icon.twitter-square
    %a{:href => ''}
      %i.social-icon.stumbleupon-square
    %a{:href => ''}
      %i.social-icon.google-square
    %a{:href => 'mailto:e_tuchscherer@yahoo.com'}
      %i.social-icon.mail-square