.hero-unit.embossed
  %h1
    contact me
    %br
    %small I'm friendly :-)

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#email', :'data-toggle' => 'tab'} email
    %li
      %a{:href => '#sms', :'data-toggle' => 'tab'} sms
    %li
      %a{:href => '#info', :'data-toggle' => 'tab'} info
  -#.subheader.pull-right
  -#  %a{:href => 'http://www.linkedin.com/in/tuchscherer'}
  -#    %i.linkedin-square.social-icon
  -#  %a{:href => 'http://www.facebook.com/eric.tuchscherer'}
  -#    %i.social-icon.facebook-square
  -#  %a{:href => 'https://twitter.com/e_tuchscherer'}
  -#    %i.social-icon.twitter-square
  -#  %a{:href => ''}
  -#    %i.social-icon.stumbleupon-square
  -#  %a{:href => ''}
  -#    %i.social-icon.google-square
  -#  %a{:href => 'mailto:eric@tuchscherer.me'}
  -#    %i.social-icon.mail-square

.row
  .tab-content.span12
    .tab-pane.active#email
      =render 'forms/email'
    .tab-pane#sms
      =render 'forms/text'
    .tab-pane#info
      .span.well.even
        %p see my contact info
