.hero-unit.embossed.stacked
  %h1.dark-inset
    Hello! my name is Eric
    %br
    %small.no-shadow software engineer in the seattle area

.row
  .span4
    %a.btn-block.btn-embossed{:href => '/work'} Work

  .span4
    %a.btn-block.btn-embossed{:href => '/about'} About

  .span4
    %a.btn-block.btn-embossed{:href => '/contact'} Contact
