.hero-unit.embossed
  %h1
    Hello! my name is Eric
    %br
    %small software engineer in the seattle area

.row
  .span4
    %a.btn-block.btn-embossed{:href => '/work'} Work

  .span4
    %a.btn-block.btn-embossed{:href => '/about'} About

  .span4
    %a.btn-block.btn-embossed{:href => '/contact'} Contact