%h1.page-header
  %small my name is
  Eric Tuchscherer

%p I'm a software engineer living in the Seattle Area

.row
  %h3.span12 Recent projects I've worked on

.span3.clear-well
  %a{:href => "#PopSalad", :'data-toggle' => "modal", :role => 'button' }
    %b Pop Salad
  %p.even Pop Salad is a gamified way of getting the most current news. The app crawls the web and gathers recent and      |
  relevant stories for celebrity gossip and pop culture. The app itself features mini games, charting and a very      |
  powerful back-end.                                                                                                  |

#PopSalad.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
  .modal-header This is the header
  .modal-body This is the body
  .modal-footer This is the footer

.span3.clear-well
  %a{:href => "#FeralMotion", :'data-toggle' => "modal", :role => 'button' }
    %b Feral Motion
  %p.even Feral Motion really neat RFID activated camera system geared towards action sports. Feral Motion's cameras can   |
  sense when a user crosses it's path. It then auto-magicly records video and posts it to a users profile online.     |
  basicly, you can ride down a mountain, have video shot, and by the time you get to the end of your run, you can     |
  share that video with your friends.                                                                                 |

#FeralMotion.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
  .modal-header This is the header
  .modal-body This is the body
  .modal-footer This is the footer

.span3.clear-well
  %a{:href => "#NerdyCars", :'data-toggle' => "modal", :role => 'button' }
    %b The Nerdy-Car app
  %p.even Still in development, this app considers various conditions that go into the ownership of your car or cars.      |
  It tallies up an average of how much money you spend on Maintenance, Operation, and Staying Legal, and lets you     |
  makes smart recommendations geared towards saving you money.                                                        |

#NerdyCars.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
  .modal-header This is the header
  .modal-body This is the body
  .modal-footer This is the footer

.row
  %h3.span12 Recently used services

.span3
  %b blah blah
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id nisl enim, sit amet aliquet felis. Mauris       |
  in ultricies erat. Sed dui nibh, semper sit amet tincidunt aliquam, pretium id ligula. Duis urna nunc, auctor at      |
  porta vitae, consectetur et dolor. Suspendisse molestie mollis felis quis semper. Mauris ut mi ligula, elementum      |
  interdum massa. Aliquam tincidunt dictum justo quis laoreet. Aenean quis magna enim, commodo lacinia mi. Nulla        |
  ultricies, nulla bibendum laoreet ullamcorper, elit sem congue quam, vel scelerisque nisl enim vitae sapien.          |
  Quisque ut lacus lorem. Praesent at quam ante, et gravida nulla. Pellentesque vestibulum commodo enim, ornare         |
  egestas nunc sollicitudin ut. Pellentesque eu quam a felis eleifend suscipit nec vel augue. Pellentesque              |
  condimentum ligula at lacus egestas pretium eget a tellus.                                                            |

.span3
  %b blah blah
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id nisl enim, sit amet aliquet felis. Mauris       |
  in ultricies erat. Sed dui nibh, semper sit amet tincidunt aliquam, pretium id ligula. Duis urna nunc, auctor at      |
  porta vitae, consectetur et dolor. Suspendisse molestie mollis felis quis semper. Mauris ut mi ligula, elementum      |
  interdum massa. Aliquam tincidunt dictum justo quis laoreet. Aenean quis magna enim, commodo lacinia mi. Nulla        |
  ultricies, nulla bibendum laoreet ullamcorper, elit sem congue quam, vel scelerisque nisl enim vitae sapien.          |
  Quisque ut lacus lorem. Praesent at quam ante, et gravida nulla. Pellentesque vestibulum commodo enim, ornare         |
  egestas nunc sollicitudin ut. Pellentesque eu quam a felis eleifend suscipit nec vel augue. Pellentesque              |
  condimentum ligula at lacus egestas pretium eget a tellus.                                                            |

.span3
  %b blah blah
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id nisl enim, sit amet aliquet felis. Mauris       |
  in ultricies erat. Sed dui nibh, semper sit amet tincidunt aliquam, pretium id ligula. Duis urna nunc, auctor at      |
  porta vitae, consectetur et dolor. Suspendisse molestie mollis felis quis semper. Mauris ut mi ligula, elementum      |
  interdum massa. Aliquam tincidunt dictum justo quis laoreet. Aenean quis magna enim, commodo lacinia mi. Nulla        |
  ultricies, nulla bibendum laoreet ullamcorper, elit sem congue quam, vel scelerisque nisl enim vitae sapien.          |
  Quisque ut lacus lorem. Praesent at quam ante, et gravida nulla. Pellentesque vestibulum commodo enim, ornare         |
  egestas nunc sollicitudin ut. Pellentesque eu quam a felis eleifend suscipit nec vel augue. Pellentesque              |
  condimentum ligula at lacus egestas pretium eget a tellus.                                                            |

