%h1.span12{:id => "<%= 5 * 5 %>"}
  %small my name is
  Eric Tuchscherer

%h4.span12
  %small I'm a software engineer living in the Seattle Area

%hr.separator.span12

%h4.span12 Recent projects

.span3.clear-well
  %a{:href => "#PopSalad", :'data-toggle' => "modal", :role => 'button' }
    %b Pop Salad
  %p.even Pop Salad is a gamified way of getting the most current news. The app crawls the web and gathers recent and      |
  relevant stories for celebrity gossip and pop culture. The app itself features mini games, charting and a very      |
  powerful back-end.                                                                                                  |

#PopSalad.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
  .modal-header This is the header
  .modal-body This is the body
  .modal-footer This is the footer

.span3.clear-well
  %a{:href => "#FeralMotion", :'data-toggle' => "modal", :role => 'button' }
    %b Feral Motion
  %p.even Feral Motion really neat RFID activated camera system geared towards action sports. Feral Motion's cameras can   |
  sense when a user crosses it's path. It then auto-magicly records video and posts it to a users profile online.     |
  basicly, you can ride down a mountain, have video shot, and by the time you get to the end of your run, you can     |
  share that video with your friends.                                                                                 |

#FeralMotion.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
  .modal-header This is the header
  .modal-body This is the body
  .modal-footer This is the footer

.span3.clear-well
  %a{:href => "#NerdyCars", :'data-toggle' => "modal", :role => 'button' }
    %b The Nerdy-Car app
  %p.even Still in development, this app considers various conditions that go into the ownership of your car or cars.      |
  It tallies up an average of how much money you spend on Maintenance, Operation, and Staying Legal, and lets you     |
  makes smart recommendations geared towards saving you money.                                                        |

#NerdyCars.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
  .modal-header This is the header
  .modal-body This is the body
  .modal-footer This is the footer

%hr.separator.span12

%h4.span12 Preferences

.span3.clear-well
  %h5 Frameworks
  %ul.unstyled.span3
    %li Zend
    %li Symfony
    %li Rails
    %li jQuery
    %li Bootstrap

.span3.clear-well
  %h5 Data
  %ul.unstyled.span3
    %li MySql
    %li PostgreSql
    %li Riak
    %li Sqlite

.span3.clear-well
  %h5 Other
  %ul.unstyled.span3
    %li Git
    %li Netbeans
    %li Oauth
    %li Linux
    %li Agile

