.hero-unit.embossed
  %h1{:id => "<%= 5 * 5 %>"}
    my work
    %br 
    %small check it out

.row
  .span4.column.show-popsalad-stack
    %h4
      %a.column-heading{:href => "#PopSalad", :'data-toggle' => "modal", :role => 'button' }
        %b Pop Salad
    %p.even Pop Salad is the gamified way of getting the most current pop news. The application crawls the web and gathers    |
    relevant stories for celebrity gossip and pop culture. It then does some magic to figure out who is the most buzz worthy  |
    celebrity at that moment. The site includes e-commerce, mini-games, internal and external api's, charting and a very           |
    powerful back-end.                                                                                                  |

  #PopSalad.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
    .modal-header
      %h4 popsalad.com
      %a{:href => ''} visit site
    .modal-body
      .container.span2
        =image_tag 'logos/popsalad.png'
      .container.span3
        %ul
          %li Over 100,000 unique visits per month
          %li Real-time fame-market powered by pop media
          %li Sends a half million content-generated emails per month
    .modal-footer
      %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

  .span4.column.show-feralmotion-stack
    %h4
      %a.column-heading{:href => "#FeralMotion", :'data-toggle' => "modal", :role => 'button' }
        %b Feral Motion
    %p.even Feral Motion is a really neat RFID activated camera system designed for action sports. Feral Motion's       |
    hi-tech cameras sense when a user crosses it's path. It then auto-magicly records video of the target and uploads   |
    immediately, out-of-the-box. Basically, you ride down the mountain, have video shot, and by the time you finish     |
    your lap, you're sharing that video with your friends.                                                              |

  #FeralMotion.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
    .modal-header
      %h4 feralmotion.com
      %a{:href => ''} visit site
    .modal-body
      .container.span2
        =image_tag 'logos/feralmotion.png'
      .container.span3
        %ul
          %li Powered by the Zend Framework
          %li Complete social media site, where users have specific automated videos tied to thier account
          %li File storage provided by Amazon S3
    .modal-footer
      %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

  .span4.column.show-nerdycar-stack
    %h4
      %a.column-heading{:href => "#NerdyCars", :'data-toggle' => "modal", :role => 'button' }
        %b The Nerdy-Car app
    %p.even Still in development, this app measures the various ways which we spend money on our vehicles. It does      |
    some math and comes up with an average of how much money you spend on Maintenance, Operation, and Staying Legal.    |
    Then it makes smart recommendations geared towards saving you money. Cause sometimes, trading in a car that you're  |
    upside down on can save money. |

  #NerdyCars.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
    .modal-header
      %h4
        thenerdycarapp.com
      %p
        %i in development
    .modal-body
      %ul
        %li Built on Rails
        %li devise / cancan / railsadmin
        %li highcharts
    .modal-footer
      %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close
%br
%br
%br
%br
%ul.inline.center-rule
  %li.zend
    %h5
      %small Zend
  %li.symfony
    %h5
      %small Symfony
  %li.rails
    %h5
      %small Rails
  %li.jquery
    %h5
      %small jQuery
  %li.bootstrap
    %h5
      %small Bootstrap
  %li.mysql
    %h5
      %small MySql
  %li.postgresql
    %h5
      %small PostgreSql
  %li.riak
    %h5
      %small Riak
  %li.mvc
    %h5
      %small MVC
  %li.sendgrid
    %h5
      %small Send Grid
  %li.sqlite
    %h5
      %small Sqlite
  %li.git
    %h5
      %small Git
  %li.netbeans
    %h5
      %small Netbeans
  %li.oauth
    %h5
      %small Oauth
  %li.linux
    %h5
      %small Linux
  %li.agile
    %h5
      %small Agile
  %li.vi
    %h5
      %small VI
  %li.rest
    %h5
      %small REST
  %li.oop
    %h5
      %small OOP
  %li.php
    %h5
      %small PHP
  %li.haml
    %h5
      %small HAML
  %li.ffmpeg
    %h5
      %small ffmpeg
  %li.rackspace
    %h5
      %small rackspace
  %li.aws
    %h5
      %small aws

