.hero-unit.embossed
  %h1.letterpress{:id => "<%= 5 * 5 %>"}
    my work
    %br 
    %small.letterpress check it out

.row
  .span4.column.show-popsalad-stack
    %h4
      %a.hover-dark-glow.column-heading{:href => "#PopSalad", :'data-toggle' => "modal", :role => 'button' }
        %b Pop Salad
    %p.even Pop Salad is the gamified way of getting the most current pop news. The application crawls the web and gathers    |
    relevant stories for celebrity gossip and pop culture. It then does some magic to figure out who is the most buzz worthy  |
    celebrity at that moment. The site includes e-commerce, mini-games, internal and external api's, charting and a very           |
    powerful back-end.                                                                                                  |

  #PopSalad.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
    .modal-header
      %h4 popsalad.com
      %a{:href => ''} visit site
    .modal-body
      .container.span2
        =image_tag 'logos/popsalad.png'
      .container.span3
        %ul
          %li Over 100,000 unique visits per month
          %li Real-time fame-market powered by pop media
          %li Sends a half million content-generated emails per month
    .modal-footer
      %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

  .span4.column.show-feralmotion-stack
    %h4
      %a.hover-dark-glow.column-heading{:href => "#FeralMotion", :'data-toggle' => "modal", :role => 'button' }
        %b Feral Motion
    %p.even Feral Motion is a really neat RFID activated camera system designed for action sports. Feral Motion's       |
    hi-tech cameras sense when a user crosses it's path. It then auto-magicly records video of the target and uploads   |
    immediately, out-of-the-box. Basically, you ride down the mountain, have video shot, and by the time you finish     |
    your lap, you're sharing that video with your friends.                                                              |

  #FeralMotion.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
    .modal-header
      %h4 feralmotion.com
      %a{:href => ''} visit site
    .modal-body
      .container.span2
        =image_tag 'logos/feralmotion.png'
      .container.span3
        %ul
          %li Powered by the Zend Framework
          %li Complete social media site, where users have specific automated videos tied to thier account
          %li File storage provided by Amazon S3
    .modal-footer
      %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close

  .span4.column.show-nerdycar-stack
    %h4
      %a.hover-dark-glow.column-heading{:href => "#NerdyCars", :'data-toggle' => "modal", :role => 'button' }
        %b USAirbag.com
    %p.even Still in development, this specialized app works with RFID wristbands to identify who has paid to jump into |
    a giant airbag, and who has not. It features a private API to work with NFC compliant android devices, and an       |
    emergency contact feature, where employees can scan the wristband of a downed rider, and get emergency contact      |
    information.

  #NerdyCars.modal.hide.fade.in{:tabindex => '-1', :role => 'dialog'}
    .modal-header
      %h4
        USAirbag.com
      %p
        %i in development
    .modal-body
      %ul
        %li Built on Rails
        %li devise / cancan / railsadmin
    .modal-footer
      %button{:class => 'btn', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close
%br
%br
%br
%br
%ul.inline.center-rule.muted
  %li.zend
    %small Zend
  %li.symfony
    %small Symfony
  %li.rails
    %small Rails
  %li.jquery
    %small jQuery
  %li.bootstrap
    %small Bootstrap
  %li.mysql
    %small MySql
  %li.postgresql
    %small PostgreSql
  %li.riak
    %small Riak
  %li.mvc
    %small MVC
  %li.sendgrid
    %small Send Grid
  %li.sqlite
    %small Sqlite
  %li.git
    %small Git
  %li.netbeans
    %small Netbeans
  %li.oauth
    %small Oauth
  %li.linux
    %small Linux
  %li.agile
    %small Agile
  %li.vi
    %small VI
  %li.rest
    %small REST
  %li.oop
    %small OOP
  %li.php
    %small PHP
  %li.haml
    %small HAML
  %li.ffmpeg
    %small ffmpeg
  %li.rackspace
    %small rackspace
  %li.aws
    %small aws

